
<.layout title="Startidan" url="/" >
  <.page_title>Välkommen till Lagunens kappseglingsklubb</.page_title>
  <img src="/images/DJI_0293.jpeg" class="my-4 w-full rounded-xl object-contain h-max-2" />

  <h2 class="my-2 text-lg font-semibold">Nyheter</h2>
  <div class="mb-16">
    <.article :for={post <- @posts} post={post} />
  </div>
</.layout>
