<html class="bg-slate-100 text-slate-900">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= assigns[:title] %> - Lagunens Kappseglingsklubb</title>
  <link rel="stylesheet" href="/assets/app.css" />
</head>
<body class="flex flex-col h-full justify-items-stretch items-stretch">
  <header class="bg-sky-800 text-sky-100 mb-8 sticky top-0">
    <.navbar url={@url} />
  </header>
  <main class="grow">
    <div class="container mx-auto px-4">
      <%= render_slot @inner_block %>
    </div>
  </main>
  <footer class="bg-slate-900 text-slate-600 p-4">
    <div class="container mx-auto text-center">
      Lagunens kappseglingklubb &copy; 2024
    </div>
  </footer>
</body>
</html>
